body {
    font-family: Arial, sans-serif;
    justify-content: center;
    text-align: center;
}

#drop-area {
    width: 300px;
    height: 150px;
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 20px auto;
}

#drop-area.dragover {
    border-color: #aaa;
}
