<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/TestBenchDetailsViewer/Templates/style.css"/>
    <title>Test details</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark"">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/TestBenchDetailsViewer/Templates/index.html">Global summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/TestBenchDetailsViewer/Templates/testdetails.html">Test details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/TestBenchDetailsViewer/Templates/executiondetails.html">Execution details</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div>
    <h1>Test details</h1>

    <div class="container">
        <div class="table-scrollsd">
        <div class="col">
          <div class="container">
          <div class="col-4">
            <select class="form-select form-select-lg " aria-label="Large select example" id="comboBox" name="comboBox">
              <option selected>Select test</option>
            </select>
          </div>
        </div>
          <div class="container">
            <div class="col-4">
            <table class="table table-dark table-hover">
                <tbody>
                  <tr>
                    <th scope="row">pass rate</th>
                    <td>x % </td>
                   
                  </tr>
                 
                  <tr>
                    <th scope="row">avg runtime</th>
                    <td>x s</td>
                    
                  </tr>
                  <tr>
                      <th scope="row">max run time</th>
                      <td>x s</td>
                     
                  </tr>
                  <tr>
                      <th scope="row">min run time</th>
                      <td>x s</td>
                      
                    </tr>
                    <tr>
                        <th scope="row">avg sim time</th>
                        <td>x s</td>
                        
                      </tr>
                </tbody>
            </table>
          </div>
        </div>      
        </div>
      </div>
      </div>
      </div>
</body>
<script>

fetch('/regressions.main.json')
            .then(response => response.json())
            .then(data => {
              const selectElement = document.getElementById('comboBox');

              // Populate the select element with options
              data.forEach(item => {
              const option = document.createElement('option');
              option.value = item.id;
              option.text = item.run_id;
              selectElement.appendChild(option);
});
               
            })
            .catch(error => {
                console.error('Error fetching or parsing JSON:', error);
            });
</script>
</html>