<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <title>Test details</title>
</head>
<style>
  
  .navbar-collapse{
  
  display: flex;
  justify-content: flex-start;
  
  }
  .table {
  border-radius:  .375rem;
  margin-left: 29rem;
  }
  .scrollspy-example{
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  }
  .table-scrollsd{
  margin-top: 10rem;
  
  }
  
  
  </style>
<body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark"">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Global summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/testdetails.html">Test details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/executiondetails.html">Execution details</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div>
    <h1>Test details</h1>

    <div class="container">
        <div class="table-scrollsd">
        <div class="row">
          <div class="col-4">
            <select class="form-select form-select-lg " aria-label="Large select example" id="comboBox" name="comboBox">
              <option selected>Select test</option>
            </select>
          </div>
                
        </div>
        <div class="col-4">
          <table class="table table-dark" id="testDetails">
              <tbody>
                <tr>
                  <th scope="row">pass rate</th>
                  <td>x % </td>
                 
                </tr>
               
                <tr>
                  <th scope="row">avg runtime</th>
                  <td>x s</td>
                  
                </tr>
                <tr>
                    <th scope="row">max run time</th>
                    <td>x s</td>
                   
                </tr>
                <tr>
                    <th scope="row">min run time</th>
                    <td>x s</td>
                    
                  </tr>
                  <tr>
                      <th scope="row">avg sim time</th>
                      <td>x s</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">sum run time</th>
                      <td>x s</td>
                      </tr>
              </tbody>
          </table>
        </div>
      </div>
      </div>
      </div>
</body>
<script>


            fetch('http://localhost:5000/api/test_names')
            .then(response => response.json())
            .then(data => {
              const testNameSelect = document.getElementById('comboBox');
                const test = data.test_names
               data.test_names.forEach(test => {
                const option = document.createElement('option');
                option.value = test.name;
                option.textContent = test.name;
                testNameSelect.appendChild(option);
                });
              })
               .catch(error => {
                console.error('Error fetching or parsing JSON:', error);
               });


               const testNameSelectItem = document.getElementById('comboBox');
               const testDetailsDiv = document.getElementById('testDetails');

              testNameSelectItem.addEventListener('change', () => {
              const selectedTestName = testNameSelectItem.value;

                fetch(`http://localhost:5000/api/test_details/${selectedTestName}`)
                .then(response => response.json())
                .then(data => { 
                    if (data.error) {
                        testDetailsDiv.textContent = 'Test details not found';
                    } else {
                        const testDetails = data.test_details;
                        testDetailsDiv.innerHTML = `
                        <tr>
                        <th scope="row">Pass Rate</th>
                        <td>${testDetails.pass_rate.toFixed(2)}</td>
                        <td>%</td
                        </tr>
                        <tr>
                        <th scope="col">Average Run Time</th>
                        <td>${testDetails.avg_run_time.toFixed(2)}</td>
                        <td>s</td>
              
                        </tr>
                        <tr>
                        <th scope="row">Max Run Time</th>
                        <td>${testDetails.max_run_time.toFixed(2)}</td>
                        <td>s</td>
                        </tr>
                        <tr>
                        <th scope="row">Min Run Time</th>
                        <td>${testDetails.min_run_time.toFixed(2)}</td>
                        <td>s</td>
                        </tr>
                        <tr>
                        <th scope="row">Average Sim Time</th>
                        <td>${testDetails.avg_sim_time.toFixed(2)}</td>
                        <td>s</td>
                        </tr>
                        <tr>
                        <th scope="row">Summation run time</th>
                        <td>${testDetails.sum_run_time.toFixed(2)}</td>
                        <td>s</td>
                        </tr>
                        `;
                    }
                })
                .catch(error => console.error('Error fetching test details:', error));
             });





              

               
</script>
</html>